# **Question 1: Xử lý ban đầu**

## ***2. Read data***



### Path vars

In [185]:
import pandas as pd

data_path = './Data_org/'
segment_path = data_path + '2017Segmentation3685case.csv'
brand_image_path = data_path + 'Brand_Image.csv'
brand_health_path = data_path + 'Brandhealth.csv'
companion_path = data_path + 'Companion.csv'
competitor_database_path = data_path + 'Competitor database_xlnm#_FilterDatabase.csv'
day_of_week_path = data_path + 'Dayofweek.csv'
day_part_path = data_path + 'Daypart.csv'
need_state_day_part_path = data_path + 'NeedstateDayDaypart.csv'
sa_var_path = data_path + 'SA#var.csv'

#### 1. Segment

**Quick peak**

In [188]:
df = pd.read_csv(segment_path,delimiter=";")
df.head()

,ID,Segmentation,Visit,Spending,Brand,PPA
0,92316,Seg.02 - Mass Asp (VND 25K - VND 59K),4,120,Indepentdent,30
1,96307,Seg.02 - Mass Asp (VND 25K - VND 59K),4,120,Indepentdent,30
2,105678,Seg.02 - Mass Asp (VND 25K - VND 59K),4,120,Indepentdent,30
3,106554,Seg.02 - Mass Asp (VND 25K - VND 59K),4,120,Indepentdent,30
4,106555,Seg.02 - Mass Asp (VND 25K - VND 59K),4,120,Indepentdent,30

**Describe**

In [358]:
print("row, col: ",df.shape)
print("col names: ",df.columns)
print("Missing value: ")
display(df.isnull().sum())
print("Unique value per col:")
display(df.nunique())

row, col:  (38955, 6)
col names:  Index(['ID', 'City', 'Dayofweek', 'Visit#Dayofweek', 'Year', 'Weekday#end'], dtype='object')
Missing value:

ID                 0
City               0
Dayofweek          0
Visit#Dayofweek    0
Year               0
Weekday#end        0
dtype: int64

Unique value per col:

ID                 11761
City                   6
Dayofweek              7
Visit#Dayofweek       26
Year                   3
Weekday#end            2
dtype: int64

In [364]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643072 entries, 0 to 643071
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ID          643072 non-null  int64
 1   Year        643072 non-null  int64
 2   City        643072 non-null  object
 3   Awareness   642675 non-null  object
 4   Attribute   643072 non-null  object
 5   BrandImage  643072 non-null  object
dtypes: int64(2), object(4)
memory usage: 29.4+ MB

#### 2. Brand image

**Quick peak**

In [366]:
df = pd.read_csv(brand_image_path,delimiter=";")
df.head()

       ID  Year    City         Awareness      Attribute        BrandImage
0  725118  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee
1  725466  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee
2  726561  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee
3  726862  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee
4  727219  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee

In [374]:
df[df['Awareness'].values != df['BrandImage'].values]

,ID,Year,City,Awareness,Attribute,BrandImage
40900,97503,2017,Hà Nội,NaN,"Good other beverages (other than coffee, tea &...",Highlands Coffee
40901,97503,2017,Hà Nội,NaN,Friendly staff,Highlands Coffee
40902,97503,2017,Hà Nội,NaN,Good music,Highlands Coffee
40903,97503,2017,Hà Nội,NaN,Clean,Highlands Coffee
40904,97503,2017,Hà Nội,NaN,Recommended by others,Highlands Coffee
...,...,...,...,...,...,...
577436,368429,2018,Hải Phòng,NaN,Feel I belong here,Other 1
577437,368429,2018,Hải Phòng,NaN,Convenient location,Other 1
577438,368429,2018,Hải Phòng,NaN,High speed of internet,Other 1
577439,368429,2018,Hải Phòng,NaN,Clean,Other 1
577440,368429,2018,Hải Phòng,NaN,Trusted brand,Other 1

**Describe**

In [195]:
print("row, col: ",df.shape)
print("col names: ",df.columns)
print("Missing value: ")
display(df.isnull().sum())
print("Unique value per col:")
display(df.nunique())

row, col:  (643072, 6)
col names:  Index(['ID', 'Year', 'City', 'Awareness', 'Attribute', 'BrandImage'], dtype='object')
Missing value:

ID              0
Year            0
City            0
Awareness     397
Attribute       0
BrandImage      0
dtype: int64

Unique value per col:

ID            11761
Year              3
City              6
Awareness        37
Attribute        28
BrandImage       37
dtype: int64

#### 3. Brand health

**Quick peak**

In [198]:
df = pd.read_csv(brand_health_path,delimiter=";")
df.head()

C:\Users\Boy gioi\AppData\Local\Temp\ipykernel_25508\2265207340.py:1: DtypeWarning: Columns (4,7,8,10,11,12,16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(brand_health_path,delimiter=";")

,ID,Year,City,Brand,Spontaneous,Awareness,Trial,P3M,P1M,Comprehension,Brand_Likability,Weekly,Daily,Fre#visit,PPA,Spending,Segmentation,NPS#P3M,NPS#P3M#Group,Spending_use
0,345853,2018,Hồ Chí Minh,Phúc Long,NaN,Phúc Long,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,348403,2018,Hồ Chí Minh,Phúc Long,NaN,Phúc Long,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,349552,2018,Hồ Chí Minh,Phúc Long,NaN,Phúc Long,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,349764,2018,Hồ Chí Minh,Phúc Long,NaN,Phúc Long,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,350072,2018,Hồ Chí Minh,Phúc Long,NaN,Phúc Long,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Describe**

In [200]:
print("row, col: ",df.shape)
print("col names: ",df.columns)
print("Missing value: ")
display(df.isnull().sum())
print("Unique value per col:")
display(df.nunique())

row, col:  (74419, 20)
col names:  Index(['ID', 'Year', 'City', 'Brand', 'Spontaneous', 'Awareness', 'Trial',
       'P3M', 'P1M', 'Comprehension', 'Brand_Likability', 'Weekly', 'Daily',
       'Fre#visit', 'PPA', 'Spending', 'Segmentation', 'NPS#P3M',
       'NPS#P3M#Group', 'Spending_use'],
      dtype='object')
Missing value:

ID                      0
Year                    0
City                    0
Brand                   0
Spontaneous         43426
Awareness             114
Trial               27089
P3M                 45570
P1M                 55020
Comprehension       48073
Brand_Likability    64088
Weekly              61037
Daily               66798
Fre#visit           55087
PPA                 60346
Spending            60346
Segmentation        60346
NPS#P3M             52814
NPS#P3M#Group       52814
Spending_use        60346
dtype: int64

Unique value per col:

ID                  11761
Year                    3
City                    6
Brand                  36
Spontaneous            37
Awareness              37
Trial                  37
P3M                    37
P1M                    36
Comprehension           5
Brand_Likability       27
Weekly                 36
Daily                  23
Fre#visit              59
PPA                    86
Spending              316
Segmentation            4
NPS#P3M                11
NPS#P3M#Group           3
Spending_use          316
dtype: int64

#### 4. Companion

**Quick peak**

In [280]:
df = pd.read_csv(companion_path,delimiter=";")
df.head()

       ID    City Companion#group  Year
0  725466  Hà Nội         Friends  2019
1  726862  Hà Nội         Friends  2019
2  727015  Hà Nội         Friends  2019
3  727219  Hà Nội         Friends  2019
4  727611  Hà Nội         Friends  2019

**Describe**

In [283]:
print("row, col: ",df.shape)
print("col names: ",df.columns)
print("Missing value: ")
display(df.isnull().sum())
print("Unique value per col:")
display(df.nunique())

row, col:  (20739, 4)
col names:  Index(['ID', 'City', 'Companion#group', 'Year'], dtype='object')
Missing value:

ID                 0
City               0
Companion#group    0
Year               0
dtype: int64

Unique value per col:

ID                 11746
City                   6
Companion#group        6
Year                   3
dtype: int64

#### 5. Competitor database

**Quick peak**

In [207]:
df = pd.read_csv(competitor_database_path,delimiter=";")
df.head()

   No#        Brand        City  Year  StoreCount
0    6  Cộng Cà Phê   Hải Phòng  2017           1
1    9  Cộng Cà Phê     Lào Cai  2017           1
2   10  Cộng Cà Phê   Nha Trang  2017           1
3   11  Cộng Cà Phê   Quảng Nam  2017           1
4   12  Cộng Cà Phê  Quảng Ninh  2017           1

**Describe**

In [209]:
print("row, col: ",df.shape)
print("col names: ",df.columns)
print("Missing value: ")
display(df.isnull().sum())
print("Unique value per col:")
display(df.nunique())

row, col:  (234, 5)
col names:  Index(['No#', 'Brand', 'City', 'Year', 'StoreCount'], dtype='object')
Missing value:

No#           0
Brand         0
City          0
Year          0
StoreCount    0
dtype: int64

Unique value per col:

No#           234
Brand           6
City           29
Year            3
StoreCount     38
dtype: int64

#### 6. Day of week

**Quick peak**

In [212]:
df = pd.read_csv(day_of_week_path,delimiter=";")
df.head()

       ID     City Dayofweek  Visit#Dayofweek  Year Weekday#end
0  344625  Cần Thơ    Monday              4.0  2018    Weekdays
1  345343  Cần Thơ    Monday              4.0  2018    Weekdays
2  346249  Cần Thơ    Monday              4.0  2018    Weekdays
3  346725  Cần Thơ    Monday              4.0  2018    Weekdays
4  346833  Cần Thơ    Monday              4.0  2018    Weekdays

**Describe**

In [214]:
df = pd.read_csv(day_of_week_path,delimiter=";")

unique_ids_2017 = df[df['Year'] == 2017]['ID'].nunique()
print(f"Unique IDs in 2017: {unique_ids_2017}")

Unique IDs in 2017: 3685

In [215]:
print("row, col: ",df.shape)
print("col names: ",df.columns)
print("Missing value: ")
display(df.isnull().sum())
print("Unique value per col:")
display(df.nunique())

row, col:  (39095, 6)
col names:  Index(['ID', 'City', 'Dayofweek', 'Visit#Dayofweek', 'Year', 'Weekday#end'], dtype='object')
Missing value:

ID                  0
City                0
Dayofweek          86
Visit#Dayofweek    54
Year                0
Weekday#end        86
dtype: int64

Unique value per col:

ID                 11761
City                   6
Dayofweek              7
Visit#Dayofweek       26
Year                   3
Weekday#end            2
dtype: int64

#### 7. Day part

**Quick peak**

In [285]:
df = pd.read_csv(day_part_path,delimiter=";")
df.head()

       ID    City             Daypart  Visit#Daypart  Year
0  729674  Hà Nội  5 PM - before 9 PM            2.0  2019
1  730472  Hà Nội  5 PM - before 9 PM            2.0  2019
2  732361  Hà Nội  5 PM - before 9 PM            2.0  2019
3  732732  Hà Nội  5 PM - before 9 PM            2.0  2019
4  733574  Hà Nội  5 PM - before 9 PM            2.0  2019

**Describe**

In [288]:
print("row, col: ",df.shape)
print("col names: ",df.columns)
print("Missing value: ")
display(df.isnull().sum())
print("Unique value per col:")
display(df.nunique())

row, col:  (19189, 5)
col names:  Index(['ID', 'City', 'Daypart', 'Visit#Daypart', 'Year'], dtype='object')
Missing value:

ID                 0
City               0
Daypart           13
Visit#Daypart    847
Year               0
dtype: int64

Unique value per col:

ID               11761
City                 6
Daypart              6
Visit#Daypart       39
Year                 3
dtype: int64

#### 8. Need state day part

**Quick peak**

In [223]:
df = pd.read_csv(need_state_day_part_path,delimiter=";")
df.head()

       ID    City  Year       Needstates Day#Daypart      NeedstateGroup
0  725118  Hà Nội  2019  Drinking coffee     Overall  Drinking beverages
1  725466  Hà Nội  2019  Drinking coffee     Overall  Drinking beverages
2  726561  Hà Nội  2019  Drinking coffee     Overall  Drinking beverages
3  726862  Hà Nội  2019  Drinking coffee     Overall  Drinking beverages
4  727015  Hà Nội  2019  Drinking coffee     Overall  Drinking beverages

**Describe**

In [225]:
print("row, col: ",df.shape)
print("col names: ",df.columns)
print("Missing value: ")
display(df.isnull().sum())
print("Unique value per col:")
display(df.nunique())

row, col:  (75251, 6)
col names:  Index(['ID', 'City', 'Year', 'Needstates', 'Day#Daypart', 'NeedstateGroup'], dtype='object')
Missing value:

ID                0
City              0
Year              0
Needstates        0
Day#Daypart       0
NeedstateGroup    0
dtype: int64

Unique value per col:

ID                11740
City                  6
Year                  3
Needstates           15
Day#Daypart           9
NeedstateGroup        6
dtype: int64

#### 9. SA var

**Quick peak**

In [228]:
df = pd.read_csv(sa_var_path,delimiter=";")
df.head()

,ID,City,Group_size,Age,MPI#Mean,TOM,BUMO,BUMO_Previous,MostFavourite,Gender,MPI#detail,Age#group,Age#Group#2,MPI,MPI#2,Occupation,Occupation#group,Year,Col,MPI_Mean_Use
0,348226,Cần Thơ,3.0,29.0,5499.0,Other 1,Other 1,NaN,Other 1,Female,From 4.5 millions to 6.49 millions VND,20 - 29,25 - 29 y.o.,VND 4.5m - VND 8.9m,2.VND 4.5m - VND 8.9m,"Unskilled Labor (worker, landry person, driver...",Blue Collar,2018,3,5499.0
1,358485,Hà Nội,3.0,25.0,5499.0,Other 1,Other 1,NaN,Other 1,Male,From 4.5 millions to 6.49 millions VND,20 - 29,25 - 29 y.o.,VND 4.5m - VND 8.9m,2.VND 4.5m - VND 8.9m,"Unskilled Labor (worker, landry person, driver...",Blue Collar,2018,3,5499.0
2,360729,Cần Thơ,3.0,25.0,5499.0,Other 1,Other 1,NaN,Other 1,Female,From 4.5 millions to 6.49 millions VND,20 - 29,25 - 29 y.o.,VND 4.5m - VND 8.9m,2.VND 4.5m - VND 8.9m,"Unskilled Labor (worker, landry person, driver...",Blue Collar,2018,3,5499.0
3,360737,Cần Thơ,3.0,24.0,5499.0,Other 1,Other 1,NaN,Other 1,Male,From 4.5 millions to 6.49 millions VND,20 - 29,20 - 24 y.o.,VND 4.5m - VND 8.9m,2.VND 4.5m - VND 8.9m,"Skilled Labor (tailor, machinist, carpenter, e...",Blue Collar,2018,3,5499.0
4,361753,Cần Thơ,3.0,26.0,5499.0,Other 1,Other 1,NaN,Other 1,Male,From 4.5 millions to 6.49 millions VND,20 - 29,25 - 29 y.o.,VND 4.5m - VND 8.9m,2.VND 4.5m - VND 8.9m,"Semi-skilled labor (salesperson, waiter, photo...",Blue Collar,2018,3,5499.0

**Describe**

In [230]:
print("row, col: ",df.shape)
print("col names: ",df.columns)
print("Missing value: ")
display(df.isnull().sum())
print("Unique value per col:")
display(df.nunique())

row, col:  (11761, 20)
col names:  Index(['ID', 'City', 'Group_size', 'Age', 'MPI#Mean', 'TOM', 'BUMO',
       'BUMO_Previous', 'MostFavourite', 'Gender', 'MPI#detail', 'Age#group',
       'Age#Group#2', 'MPI', 'MPI#2', 'Occupation', 'Occupation#group', 'Year',
       'Col', 'MPI_Mean_Use'],
      dtype='object')
Missing value:

ID                     0
City                   0
Group_size            15
Age                    9
MPI#Mean            3717
TOM                    0
BUMO                   0
BUMO_Previous       5665
MostFavourite          0
Gender                 0
MPI#detail          3685
Age#group              9
Age#Group#2            9
MPI                 3717
MPI#2               3717
Occupation             0
Occupation#group       0
Year                   0
Col                    0
MPI_Mean_Use        3717
dtype: int64

Unique value per col:

ID                  11761
City                    6
Group_size             16
Age                    45
MPI#Mean               13
TOM                    32
BUMO                   33
BUMO_Previous          32
MostFavourite          34
Gender                  2
MPI#detail             14
Age#group               4
Age#Group#2             7
MPI                     5
MPI#2                   5
Occupation             28
Occupation#group        7
Year                    3
Col                     6
MPI_Mean_Use           13
dtype: int64

## ***3. Test tampering data***

### Data path

In [233]:
import pandas as pd

data_path = './Data_working/'
segment_path = data_path + '2017Segmentation3685case.csv'
brand_image_path = data_path + 'Brand_Image.csv'
brand_health_path = data_path + 'Brandhealth.csv'
companion_path = data_path + 'Companion.csv'
competitor_database_path = data_path + 'Competitor database_xlnm#_FilterDatabase.csv'
day_of_week_path = data_path + 'Dayofweek.csv'
day_part_path = data_path + 'Daypart.csv'
need_state_day_part_path = data_path + 'NeedstateDayDaypart.csv'
sa_var_path = data_path + 'SA#var.csv'

### Tampering with Competitor db( least row)

In [235]:
df = pd.read_csv(competitor_database_path,delimiter=";")

In [236]:
df['new_column'] = 'test_value'
output_path = competitor_database_path
df.to_csv(output_path,index=False,sep=';')

In [237]:
df = pd.read_csv(competitor_database_path,delimiter=";")
df.head()

   No#        Brand        City  Year  StoreCount  new_column
0    6  Cộng Cà Phê   Hải Phòng  2017           1  test_value
1    9  Cộng Cà Phê     Lào Cai  2017           1  test_value
2   10  Cộng Cà Phê   Nha Trang  2017           1  test_value
3   11  Cộng Cà Phê   Quảng Nam  2017           1  test_value
4   12  Cộng Cà Phê  Quảng Ninh  2017           1  test_value

In [238]:
df.drop(columns=['new_column'], inplace=True)
df.to_csv(output_path,index=False,sep=";")

In [239]:
df = pd.read_csv(competitor_database_path,delimiter=";")
df.head()

   No#        Brand        City  Year  StoreCount
0    6  Cộng Cà Phê   Hải Phòng  2017           1
1    9  Cộng Cà Phê     Lào Cai  2017           1
2   10  Cộng Cà Phê   Nha Trang  2017           1
3   11  Cộng Cà Phê   Quảng Nam  2017           1
4   12  Cộng Cà Phê  Quảng Ninh  2017           1

## Practice

In [241]:
import pandas as pd

data_path = './Data_working/'
segment_path = data_path + '2017Segmentation3685case.csv'
brand_image_path = data_path + 'Brand_Image.csv'
brand_health_path = data_path + 'Brandhealth.csv'
companion_path = data_path + 'Companion.csv'
competitor_database_path = data_path + 'Competitor database_xlnm#_FilterDatabase.csv'
day_of_week_path = data_path + 'Dayofweek.csv'
day_part_path = data_path + 'Daypart.csv'
need_state_day_part_path = data_path + 'NeedstateDayDaypart.csv'
sa_var_path = data_path + 'SA#var.csv'

In [242]:
#got to provide a demlimiter
df = pd.read_csv(segment_path,delimiter=";")
df.head()

,ID,Segmentation,Visit,Spending,Brand,PPA
0,92316,Seg.02 - Mass Asp (VND 25K - VND 59K),4,120,Indepentdent,30
1,96307,Seg.02 - Mass Asp (VND 25K - VND 59K),4,120,Indepentdent,30
2,105678,Seg.02 - Mass Asp (VND 25K - VND 59K),4,120,Indepentdent,30
3,106554,Seg.02 - Mass Asp (VND 25K - VND 59K),4,120,Indepentdent,30
4,106555,Seg.02 - Mass Asp (VND 25K - VND 59K),4,120,Indepentdent,30

Understand the structure

In [244]:
print('Row & col', df.shape)
print('Cols name', df.columns)
print('Cols datatype:')
display(df.dtypes)
print('Total null value of each col:')
display(df.isnull().sum())

Row & col (4944, 6)
Cols name Index(['ID', 'Segmentation', 'Visit', 'Spending', 'Brand', 'PPA'], dtype='object')
Cols datatype:

ID               int64
Segmentation    object
Visit            int64
Spending         int64
Brand           object
PPA              int64
dtype: object

Total null value of each col:

ID              0
Segmentation    0
Visit           0
Spending        0
Brand           0
PPA             0
dtype: int64

Exploring the data

print("Segment & value count: ")
df['Segmentation'].value_counts()

Get max

In [248]:
segment_count = df['Segmentation'].value_counts()
max_idx = segment_count.idxmax() 
max_val = segment_count.max()
print(f'Max segment : {max_idx} - {max_val}')

Max segment : Seg.01 - Mass (<VND 25K) - 2577

Get top x

In [250]:
segment_count = df['Segmentation'].value_counts()
sorted = segment_count.sort_values(ascending=False)
print("Normal print: ")
display(sorted.iloc[:2])
print("Customized print: ")
sorted = sorted.iloc[:2]
for key, value in sorted.items(): 
    print(f"{key} - {value}")
for i in range(3): 
    print(f"Row {i}", segment_count.iloc[i])

Normal print:

Segmentation
Seg.01 - Mass (<VND 25K)                 2577
Seg.02 - Mass Asp (VND 25K - VND 59K)    2104
Name: count, dtype: int64

Customized print:
Seg.01 - Mass (<VND 25K) - 2577
Seg.02 - Mass Asp (VND 25K - VND 59K) - 2104
Row 0 2577
Row 1 2104
Row 2 218

Check duplicate

In [252]:
import pandas as pd

data_path = './Data_working/'
segment_path = data_path + '2017Segmentation3685case.csv'
brand_image_path = data_path + 'Brand_Image.csv'
brand_health_path = data_path + 'Brandhealth.csv'
companion_path = data_path + 'Companion.csv'
competitor_database_path = data_path + 'Competitor database_xlnm#_FilterDatabase.csv'
day_of_week_path = data_path + 'Dayofweek.csv'
day_part_path = data_path + 'Daypart.csv'
need_state_day_part_path = data_path + 'NeedstateDayDaypart.csv'
sa_var_path = data_path + 'SA#var.csv'

In [301]:
df = pd.read_csv(segment_path)
df.duplicated().sum()

0

In [ ]:
df = pd.read_csv(brand_image_path,delimiter=";")
df[df["ID"==724930,year=2019]]

In [347]:
df = pd.read_csv(brand_image_path,delimiter=";")
duplicates = df[df.duplicated(keep=False)]
print(duplicates)

            ID  Year       City Awareness  \
154345  725118  2019     Hà Nội     Other
154346  725118  2019     Hà Nội     Other
154347  725466  2019     Hà Nội     Other
154348  725466  2019     Hà Nội     Other
154349  726111  2019     Hà Nội     Other
...        ...   ...        ...       ...
442496  817624  2019  Nha Trang     Other
442505  860708  2019  Nha Trang     Other
442506  860708  2019  Nha Trang     Other
442507  860742  2019  Nha Trang     Other
442508  860742  2019  Nha Trang     Other

                                      Attribute BrandImage
154345   Good place for socializing with family      Other
154346   Good place for socializing with family      Other
154347   Good place for socializing with family      Other
154348   Good place for socializing with family      Other
154349   Good place for socializing with family      Other
...                                         ...        ...
442496  Good place for socializing with friends      Other
442505  Good place for socializing with friends      Other
442506  Good place for socializing with friends      Other
442507  Good place for socializing with friends      Other
442508  Good place for socializing with friends      Other

[25916 rows x 6 columns]

In [317]:
df = pd.read_csv(brand_health_path,delimiter=";")
df.duplicated().sum()

C:\Users\Boy gioi\AppData\Local\Temp\ipykernel_25508\2021054581.py:1: DtypeWarning: Columns (4,7,8,10,11,12,16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(brand_health_path,delimiter=";")

0

In [315]:
df = pd.read_csv(companion_path,delimiter=";")
df.duplicated().sum()

799

In [313]:
df = pd.read_csv(competitor_database_path,delimiter=";")
df.duplicated().sum()

0

In [355]:
df = pd.read_csv(day_of_week_path,delimiter=";")
df = df.dropna()
df[df.duplicated()]

Empty DataFrame
Columns: [ID, City, Dayofweek, Visit#Dayofweek, Year, Weekday#end]
Index: []

In [309]:
df = pd.read_csv(day_part_path,delimiter=";")
df.duplicated().sum()

0

In [307]:
df = pd.read_csv(need_state_day_part_path,delimiter=";")
df.duplicated().sum()

72

In [305]:
df = pd.read_csv(sa_var_path,delimiter=";")
df.duplicated().sum()

0